
 table {
	
  border: 1px solid white;
  
}
table tr {
  border: 1px solid white;

  
}
table tr td {
	height: 100px;
  border: 1px solid white;
  width: 300px;
}
table td{
  justify-content: center;
}



.today_day_name{
    color:#2a6bf7;
    font-size: 0.7rem;
    
}

.today_date{
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  font-size: 1.7rem;
  color: #fff;
  background: #2a6bf7;
  margin-top: 1.3rem;
 
  padding: 0.5rem;
}


.day_name{
    color:gray;
    font-size: 0.7rem;
    justify-content:center  !important; 
   
}

.prev_date{
  font-size: 1.7rem;
  color: grey;
  text-align:center;
 
}

.next_date{
  font-size: 1.7rem;
  color: black;
  text-align:center;

}

.done_todo{
  background-color: green;
  border-radius: 3px;
  height:auto;
  color: #fff;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis; 
  width: 100%; 
  height: 60%;
}

.pending_todo{
  overflow: hidden;
  text-overflow: ellipsis; 
  width: 100px;
  border: 1px solid grey;
  border-radius: 3px;
  
}

.gradient{
  height: 110px;
}