
table {
	display: table;
  border: 1px solid black;
  border-collapse: collapse;
}
table tr {
	display: table-cell;
  border: 1px solid black;
  width: 200px;
  height: 150px;
}
table tr td {
	display: block;
  border: 1px solid black;
 
}




.today_day_name{
    color:#2a6bf7;
    font-size: 0.7rem;
}

.today_date{
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  font-size: 1.5rem;
  color: #fff;
  background: #2a6bf7;
  margin-top: 1.3rem;
}


.day_name{
    color:gray;
    font-size: 0.7rem;
    justify-content:center  !important; 
   
}

.prev_date{
  font-size: 1.7rem;
  color: grey;
  text-align:center;
  margin-top: 1.3rem;
}

.next_date{
  font-size: 1.7rem;
  color: black;
  text-align:center;
  margin-top: 1.3rem;
}

.done_todo{
  background-color: green;
  border-radius: 10%;
  height: 50px;
  width: 100px;
  color: #fff;
  text-align: center;
  word-wrap: break-word;
}